<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>row</title>
  <link rel="stylesheet" href="../../../dist/mui.css">
</head>
<body>
  <div id="app">
    <m-row gutter="8">
      <m-col span="4">3</m-col>
      <m-col span="4">3</m-col>
      <m-col span="4">3</m-col>
      <m-col span="8">3</m-col>
      <m-col span="4">3</m-col>
      <m-col span="4">3</m-col>
    </m-row>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../../../dist/mui.js"></script>
  <script>
    Vue.use(MUI)
    new Vue({
      el: '#app'
    })
  </script>
</body>
</html>