<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/mui.css">
</head>
<body>
  <div id="app">
    <m-button @click="onClick" type="primary">按钮</m-button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../../../dist/mui.js"></script>
  <script>
    Vue.use(MUI)
    new Vue({
      el: '#app',
      methods: {
        onClick: function (e) {
          console.log(e)
        }
      }
    })
  </script>
</body>
</html>