<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>select</title>
  <link rel="stylesheet" href="../../../dist/mui.css">
</head>
<body>
  <div id="app">
    <div style="width: 300px;">
      <m-select v-model="select">
        <m-select-option value="向日葵">向日葵</m-select-option>
        <m-select-option value="西瓜">西瓜</m-select-option>
        <m-select-option value="百合">百合</m-select-option>
        <m-select-option value="栀子花">栀子花</m-select-option>
      </m-select>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../../../dist/mui.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          select: '西瓜'
        }
      }
    })
  </script>
</body>
</html>