.date{
  white-space: nowrap;
  user-select: none;
  display:inline-block;
  box-sizing: border-box;
  &-panel{
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    &:first-child{
      padding-right: 12px;
    }
    &:last-child{
      padding-left: 12px;
    }
  }
  &-head{
    display:table;
    width:100%;
    height: 44px;
    font-size: 16px;
    user-select: none;
    padding: 0 12px;
    box-sizing:border-box;
    &-prefix,
    &-content,
    &-suffix{
      display:table-cell;
      vertical-align: middle;
    }
    &-prefix,
    &-suffix{
      white-space: nowrap;
      span{
        &:hover{
          color: v(color-primary);
        }
      }
    }
    &-content{
      width:100%;
      text-align:center;
      .date-head-item{
        margin: 0 12px;
      }
    }
    &-prefix{
      span{
        margin-right: 12px;
      }
    }
    &-suffix{
      span{
        margin-left: 12px;
      }
    }
    &-item{
      display:inline-block;
      margin:0;
      cursor: pointer;
      &[plain]{
        margin:0 2px;
      }
      span{
        transition: 0.3s;
        &:last-child{
          display:none;
          color: v(text-placeholder);
          &[visible]{
            display:inline-block;
          }
        }
      }
      &:hover{
        span{
          color: v(color-primary);
        }
      }
    }
    &-label{
      display:inline-block;
      margin-right: 4px;
    }
  }
  &-banner{
    list-style: none;
    margin:0;
    padding:0;
    display:table;
    width:100%;
    li{
      display:table-cell;
      vertical-align: middle;
      font-size: 12px;
      color: v(text-secondary);
      text-align:center;
    }
  }
  &-content{
    height: 235px;
  }
  &-month{
    display:table;
    height:100%;
    width:100%;
  }
  &-week{
    list-style: none;
    margin:0;
    padding:0;
    display:table-row;
    width:100%;
    height: 36px;
  }
  &-item{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width: 14.28%;
    cursor: pointer;
    position:relative;
    &[active]{
      color: v(color-primary);
      font-weight: bold;
    }
    &[current]{
      color: v(text-white);
      .date-day{
        background-color: v(color-primary);
        border-radius: 50%;
      }
    }
    &[isin]{
      &::before{
        content:"";
        display:block;
        height: 32px;
        width:100%;
        position:absolute;
        background:v(color-primary);
        opacity: 0.05;
        top:50%;
        left:0;
        margin-top: -16px;
      }
    }
    &[disabled]{
      color: v(text-secondary);
      &::before{
        display:none;
      }
      .date-day{
        background-color: transparent;
      }
    }
  }
  &-day{
    display:inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
  &-value{
    font-size:14px;
    margin:0;
  }
  &-list{
    list-style: none;
    padding:0;
    margin:0;
    white-space: pre-wrap;
    li{
      display:inline-block;
      width:33.33%;
      cursor: pointer;
      position:relative;
      &[active]{
        color: v(color-primary);
        font-weight: bold;
      }
      &[isin]{
        &::before{
          content:"";
          display:block;
          height: 32px;
          width:100%;
          position:absolute;
          background:v(color-primary);
          opacity: 0.05;
          top:50%;
          left:0;
          margin-top: -16px;
        }
      }
      p{
        margin:0;
        font-size: 14px;
        padding: 14px;
        text-align:center;
      }
    }
    &[type=month]{
      li{
        width: 50%;
        p{
          padding: 10px 0;
        }
      }
    }
    &[type=quart]{
      li{
        width: 100%;
        p{
          padding: 10px 0;
        }
      }
    }
  }
  &-scroll{
    display:inline-block;
    height: 100%;
  }
  &-time{
    list-style: none;
    white-space: pre-wrap;
    margin:0;
    padding:0;
    &::before,
    &::after{
      content:"";
      display:block;
      height: 105px;
    }
    li{
      display:block;
      height: 35px;
      line-height: 35px;
      text-align:center;
    }
  }
  &-footer{
    display:table;
    width:100%;
    margin-top: 12px;
    &-item{
      display:table-cell;
      vertical-align: middle;
      &:last-child{
        width: 100%;
        text-align:right;
        button{
          margin-left: 12px;
        }
      }
      &:first-child{
        white-space: nowrap;
      }
    }
  }
}